body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete {
  cursor: pointer;
  float: right;
}

.category-item, .question-div {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: grey;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin-bottom: 5px;
}

.options form {
  margin-right: 10px;
  display: inline-block;
}

.block {
  clear: both;
  display: block;
}

#errors{
  color: red;
}
.center{
  text-align: center;
}
.question-area {
  display: inline-block;
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-color: lightgrey;
  padding-top: 20px;
}

.answer-area {
  display: inline-block;
  height: 100px;
  width: 300px;
  border-radius: 20px;
  background-color: lightgrey;
  margin-top: 20px;
  padding-top: 10px;
}

.question {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.quiz-thumbnail {
  max-width: 200px;
  max-height: 150px;
}

.quiz {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

.clear {
  clear: both;
  display: block;
  height: 10px;
}

.error {
  color: red;
  display: block;
  clear: both;
}
.login-form {

  display: inline-block;
  float: right;
  width: 200px
}

.login-form label {
  font-weight: normal;
  text-align: right;
}

.right {
  text-align: right;
  float: right;
}

.new-user-form label {
  text-align: right;
}
