body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete {
  cursor: pointer;
  float: right;
}

.category-item, .question-div{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: grey;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin-bottom: 5px;
}

.options form{
  margin-right: 10px;
  display: inline-block;
}

.block {
  clear: both;
  display: block;
}
