div.bulk_upload.hidden.row
  div.form-group.row
    label.col-md-3.control-label(for='name') Quiz Name
    div.col-md-9
      input#name.form-control.col-md-9(type='text' name='name' value=(name ? name : ''))
  div.form-group.row
    label.col-md-3.control-label(for='name') Description
    div.col-md-9
      textarea#name.form-control.col-md-9(type='text' name='description')= description 
  div.form-group.row
    label.col-md-4(for='time-penalty-enable') Enable Time Penalties
    input#time-penalty-enable.col-md-1(type='checkbox' name='time_penalty_enable' checked=(quiz ? (quiz.time_penalties_enabled ? 'checked' : undefined) : undefined))
    label.col-md-4(for='time-penalty') Penalty in Seconds
    input#time-penalty.col-md-2(type='number' name='time_penalty' value=(quiz ? quiz.time_penalty : '') disabled=(quiz ? (quiz.time_penalties_enabled ? undefined : 'disabled') : 'disabled'))
  div.form-group.row
    label.col-md-4(for='answer-penalty-enable') Enable Wrong Answer Penalties
    input#answer-penalty-enable.col-md-1(type='checkbox' name='answer_penalty_enable' checked=(quiz ? (quiz.answer_penalties_enabled ? 'checked' : undefined) : undefined))
    label.col-md-4(for='answer-penalty') Penalty in Seconds
    input#answer-penalty.col-md-2(type='number' name='answer_penalty' value=(quiz ? quiz.answer_penalty : '') disabled=(quiz ? (quiz.answer_penalties_enabled ? undefined : 'disabled') : 'disabled'))
  div.form-group.row    
    label.col-md-3.control-label(for='categories') Categories
    div.col-md-7
      input#categories.form-control.col-md-7(type='text' name='categories')
    button#add-category.col-md-2.btn.btn-sml(type='button') Add
