div.row
  div.col-md-4
    div.form-group.row
    div.form-group.row
    div.form-group.row
      label.col-md-3.control-label(for='name') Quiz Name
      div.col-md-9
        input#name.form-control.col-md-9(type='text' name='name' value=(name ? name : ''))
    div.form-group.row
      label.col-md-3.control-label(for='name') Description
      div.col-md-9
        textarea#name.form-control.col-md-9(type='text' name='description')= description 
    div.form-group.row
      label.col-md-4(for='time-penalty-enable') Enable Time Penalties
      input#time-penalty-enable.col-md-1(type='checkbox' name='time_penalty_enable' checked=(quiz ? (quiz.time_penalties_enabled ? 'checked' : undefined) : undefined))
      label.col-md-4(for='time-penalty') Penalty in Seconds
      input#time-penalty.col-md-2(type='number' name='time_penalty' value=(quiz ? quiz.time_penalty : '') disabled=(quiz ? (quiz.time_penalties_enabled ? undefined : 'disabled') : 'disabled'))
    div.form-group.row
      label.col-md-4(for='answer-penalty-enable') Enable Wrong Answer Penalties
      input#answer-penalty-enable.col-md-1(type='checkbox' name='answer_penalty_enable' checked=(quiz ? (quiz.answer_penalties_enabled ? 'checked' : undefined) : undefined))
      label.col-md-4(for='answer-penalty') Penalty in Seconds
      input#answer-penalty.col-md-2(type='number' name='answer_penalty' value=(quiz ? quiz.answer_penalty : '') disabled=(quiz ? (quiz.answer_penalties_enabled ? undefined : 'disabled') : 'disabled'))
    div.form-group.row    
      label.col-md-3.control-label(for='categories') Categories
      div.col-md-7
        input#categories.form-control.col-md-7(type='text' name='categories')
      button#add-category.col-md-2.btn.btn-sml(type='button') Add
    div#category-list.form-group.row   
      if categories
        include _categories
  div.col-md-1
  div.col-md-7
    div.form-group.row
      div.row
        input#submit.btn.btn-primary.btn-block.btn-lg(type='submit' value='Save Quiz')
    div.form-group.row
      h3 Questions
      div.form-group.row
      div#toggle_upload
        button#toggle_bulk.btn.btn-block.btn-md.btn-success(type='button') Bulk Upload
        button#toggle_single.btn.btn-block.btn-md.btn-success.hidden(type='button') Individual Question Entry
      div#single_upload.form-group.row    
        div.form-group.row
          label.col-md-6.control-label(for='question-type') Question Type
        div.form-group.row
          div.col-md-6
            select#question-type.form-control.col-md-8(type='text' name='question-type')
              //- option(value='image-upload') Image Upload
              option(value='image-url') Image URL
              option(value='plain-text') Plain Text
          div.col-md-6  
            button#add-question.col-md-2.btn.btn-sml(type='button') Add
        div.form-group.row 
          label.col-md-6.control-label(for='question-type') Question
          label.col-md-6.control-label(for='answer') Answer  
        div.form-group.row 
          div.col-md-6
            //- input#file-field.form-control.col-md-6(type='file' name='file')
            input#url-field.form-control.col-md-6(type='text' name='answer') 
            textarea#text-field.form-control.col-md-6.hidden(name='answer')
          div.col-md-6
            input#answer.form-control.col-md-6(type='text' name='answer')
          div#question-list.row
            if questions
              include _questions
      div#bulk_upload.form-group.row.hidden
        label(for='multi_upload') Quick Upload
        p Upload using a csv format as shown below.  Please use either "plain-text" or "image-url" for question type.
        textarea#multi_upload.col-md-12(name='multi_upload' rows='15' placeholder='question type, question, answer\nexample:\nplain-text, What is the Capital of Colorado?, Denver\nimage-url, www.pictures.com/mypineappleimage.jpg, Pineapple')= multi_upload
