div.row
  div.col-md-4
    div.form-group.row
    div.form-group.row
    div.form-group.row
      label.col-md-3.control-label(for='name') Quiz Name
      div.col-md-9
        input#name.form-control.col-md-9(type='text' name='name')  
    div.form-group.row    
      label.col-md-3.control-label(for='categories') Categories
      div.col-md-7
        input#categories.form-control.col-md-7(type='text' name='categories')
      button#add-category.col-md-2.btn.btn-sml(type='button') Add
    div#category-list.form-group.row    
  div.col-md-1
  div.col-md-7
    div.form-group.row
      div.col-md-12
        input#submit.btn.btn-primary.btn-block.btn-lg(type='submit' value='Create')
    div.form-group.row
      h3 Questions
      div.form-group.row
        label.col-md-6.control-label(for='question-type') Question Type
        label.col-md-6.control-label(for='answer') Answer
      div.form-group.row
        div.col-md-6
          select#question-type.form-control.col-md-8(type='text' name='question-type')
            option(value='image-upload') Image Upload
            option(value='image-url') Image URL
            option(value='plain-text') Plain Text
        div.col-md-6  
          button#add-question.col-md-2.btn.btn-sml(type='button') Add
      div.form-group.row   
        div.col-md-6
          input#file-field.form-control.col-md-6(type='file' name='file')
          input#url-field.form-control.col-md-6.hidden(type='text' name='answer') 
          textarea#text-field.form-control.col-md-6.hidden(name='answer')
        div.col-md-6
          input#answer.form-control.col-md-6(type='text' name='answer')
        div#question-list.row
      
