extends ./../layout

block content
  h1 Your quizzes
  p
    a(href='/') Back to the Home Page
  p
    a(href='/quizzes/new') Create a New Quiz
  table.table.table-hover
    thead
      tr
        th Quiz
        th Categories        
    tbody
      each quiz in quizzes
        tr
          td
            a(href='/quizzes/'+quiz._id)= quiz.name
          td= quiz.categories
