extends ./../layout

block content
  h1 Your quizzes
  p
    a(href='/') Back to the Home Page
  p
    a(href='/quizzes/new') Create a New Quiz
  table.table.table-hover
    thead
      tr
        th Quiz
        th Categories        
        th Options
    tbody
      each quiz in quizzes
        tr
          td
            a(href='/quizzes/'+quiz._id)= quiz.name
          td= quiz.categories
          td.options
            form(action='/quizzes/'+quiz._id method='get')
              button.btn.btn-primary.btn-sml.inline(type='submit')
                div.fa.fa-eye
                span  Show
            form(action='/quizzes/'+quiz._id+'/edit' method='get')
              button.btn.btn-info.btn-sml.inline(type='submit') 
                div.fa.fa-pencil 
                span  Edit
            form(action='/quizzes/'+quiz._id+'/delete' method='post')
              button.btn.btn-danger.btn-sml.inline(type='submit')
                div.fa.fa-trash
                span  Delete
          td.playgame
            form(action='/quizzes/'+quiz._id+'/play' method='get')
              button.btn.btn-success.btn-sml.inline(type='submit') 
                div.fa.fa-play-circle
                span  Play Game       
          
