extends ./../layout

block content
  div.container.center
    h1= name
    div.timer Good Luck!
    div.game-area
      div.question-area
        div.question= description
      div.row
      div.answer-area
        p.guessInput
        p.guessButton
          button#start.btn.btn-primary.btn-sml(type='submit' name='button') Click to Start!
      
block javascript
  script(src='/javascripts/play.js' type='text/javascript')
